/* Styles pour le Body */
body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #081b29;
	color: #ededed;
	overflow: scroll;
	box-sizing: border-box;
}
.moi{
    opacity: 0.5;
}

/* Styles pour le header */
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 20px 1%;
	background-color: #081b29;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 100;
}
/* Styles pour les element liste */
ul {
	list-style: none;
}
/* Styles pour le Logo */
.logo {
	font-size: 25px;
	color: #ededed;
	text-decoration: none;
	font-weight: 600;
    letter-spacing: 1px;
}
@keyframes changeColor {
    0% {
      color: red;
    }
    50% {
      color: yellow; /* Une nuance de rouge plus claire si désiré */
    }
    100% {
      color: green;
    }
  }
  
  .logo {
    animation: changeColor 5s infinite; /* Animation sur une durée de 4 secondes, en boucle */
  }
  
/* Styles pour les liens de la barre de navigation */
.nav_bar a {
	font-size: 18px;
	color: #ededed;
	text-decoration: none;
	font-weight: 700;
	margin-left: 35px;
	transition: 3s;
}
/* Styles pour les liens au survole, au click, et les liens non-visités */
.nav_bar a:hover,
.nav_bar a:active,
.nav_bar a:link {
	color: #00abf0;
}
/* Style pour l'entête de chaque page */
.ent {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 20px 1%;
	margin-top: 20px;
	text-align: center;
	transition: 3s;
}
/* Styles pour l'entête au survole */
.ent:hover {
	color: #00abf0;
}
/* Styles pour toutes balises contenant la class "section" */
.section {
	height: 120vh;
	display: flex;
    justify-content: space-around;
	align-items: center;
	margin: 10px;
	gap: 10px;
}
.sect {
	height: 100vh;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 15%;
}
.sectio {
	display: flex;
}
.secto {
	width: 50%;
	margin: 10px;
    padding: 0;
}

.presentation {
	width: 50%;
}
/* Specification d'un Caractere "S" */
.hi{
	color: #00abf0;
	font-size: 80px;
}
.log{
    color: #00abf0;
    font-size: 30px;
    font-weight: 900;
    
}
/* Styles pour chacun de mes titres */
h1 {
	font-size: 56px;
	font-weight: 700;
}
h2 {
	font-size: 50px;
	font-weight: 600;
}
h3 {
	font-size: 35px;
	font-weight: 400;
	color: #00abf0;
}
h4 {
	color: #00abf0;
	text-decoration: underline;
	font-weight: 600;
	font-size: 25px;
}
/* Styles pour mes paragraphes */
p {
	font-size: 16px;
	margin: 20px 0 30px;
}
/* Styles pour ma classe Bouton */
.bouton {
	display: flex;
	justify-content: space-between;
	width: 345px;
	height: 50px;
}

.bouton a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background: #00abf0;
	border: 2px solid #00abf0;
	border-radius: 8px;
	font-size: 19px;
	color: #081b29;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
}
.bouton a:nth-child(2) {
	background: transparent;
	color: #00abf0;
}
/* Styles pour mon Formulaire dans la page contact */
.formulaire {
	padding: 20%;
	display: flex;
	justify-content: center;
	gap: 5px;
}

.formulaire label {
	font-size: 20px;
	color: #00abf0;
	font-weight: bold;
	transition: 5s;
	padding: 10px;
}
.formulaire input,
.bouton-envoyer {
	width: 150px;
	height: 25px;
	border-radius: 10px;
	padding: 10px;
	background-color: transparent;
	color: #ededed;
}
.formulaire textarea {
	width: 200px;
	height: 50px;
	border-radius: 10px;
	padding: 10px;
	background-color: transparent;
	color: #ededed;
}
.formulaire input::placeholder,
textarea::placeholder {
	color: white;
}
/* Styles pour le bouton envoyer */
.bouton-envoyer {
	background-color: #00abf0;
	font-size: 20px;
	transition: 5s;
	height: 50px;
}
.bouton-envoyer:hover {
	background-color: transparent;
	color: #ededed;
}
/* Styles pour le footer de la page */
footer {
	text-align: center;
	font-size: 25px;
	font-weight: 800;
    height: 100px;
}
/* Pour les petits appareils */
@media (max-width: 600px) {
	* {
		padding: 0;
		margin: 0;
	}
	.header {
		display: grid;
		grid-template-columns: 1fr;
		position: relative;
	}
	.nav_bar {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
        gap: 10px;
	}

	.section {
		align-items: normal;
		display: flex;
		flex-direction: column;
        
	}
    .section img{
        height: 300px;
    }
	.ent {
		position: relative;
	}
	.formulaire {
		display: grid;
		grid-template-columns: 1fr;
	}
	footer {
		display: none;
}
